@media (max-width: 1000px) {
    .logo{
        height: 20vh;
        margin-bottom: 35px;
    }
    
    .buttons{
        height: calc(100vh - 40vh - 70px);
    }
    
    .button {
      width: 80vw;
    }

    .logo img{
        width: 120px;
    }

    footer{
        height: 20vh;
        margin-top: 35px;
    }
  }
  
  @media (max-height: 630px) {
    .all{
        height: 120vh;
    }

    .buttons{
        height: 85vh;
    }
  }